/result
/source
*.elc
/.eldev
/.cache/vale/*
!/.cache/vale/config/
/.cache/vale/config/*
!/.cache/vale/config/vocabularies/
/.cache/vale/config/vocabularies/*
!/.cache/vale/config/vocabularies/extended-faces/
!/.cache/vale/Vocab/
/.cache/vale/Vocab/*
!/.cache/vale/Vocab/extended-faces/
/.local/state/project-manager/
/.local/state/nix/profiles/
/.cache/direnv/
